<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section id="location-list">
  <h2>Locations</h2><hr>
</section>

<script type="text/template" id="location-template">
  <article>
    <p>
      <strong>Name: </strong><%= name %>
    </p>
    <p>
      <strong>Website: </strong><%= company %>
    </p>
    <p>
      <strong>Burgers: </strong>
      <ul>
        <% for (var burger in burgers) { %>
          <li><%= burgers[burger]["name"] %> </li>
          <%= burgers[burger]["description"] %>
        <% } %>
        <% if (latenight) { %>
          <p><strong><em>Yes, we're open late!</em></strong></p>
        <% } %>
        <% if (alcohol) { %>
          <p><strong><em>Yes, we serve alcohol!</em></strong></p>
        <% } %>
      </ul><hr>
    </p>
  </article>
</script>

<script type="text/javascript" src="/javascripts/app.js"></script>
<script type="text/javascript" src="/javascripts/views/locationView.js"></script>
<!-- <script type="text/javascript" src="/javascripts/collections/locationCollection.js"></script> -->
<!-- <script type="text/javascript" src="/javascripts/models/locationModel.js"></script> -->

<!-- {
  "name" : "Marty's Burger Palace",
  "address" : "100 N State St, Chicago, IL 60621",
  "coords" : [87.6847, 41.8369],
  "phone" : "555-555-5555",
  "website" : "www.martysburgerpalace.com",
  "price" : 3,
  "foodtruck" : false,
  "byob" : false,
  "alcohol" : true,
  "latenight" : true,
  "outdoor" : false,
  "image" : "image url",
  "burgers" : [{
    "name" : "Cheese Burger",
    "description" : "Standard Cheese Burger with lettuce, tomato, and onion.",
    "rating" : 8,
    "veggie" : false,
    "image" : "image url",
    "meat" : [{
      "grassfed" : true,
      "kobe" : false,
      "bison" : false,
      "angus" : true,
      "turkey" : false,
      "lamb" : false,
      "elk" : false
    }]
  }, {
    "name" : "Bacon Chedder Burger",
    "description" : "Cheese burger with cheddar cheese and bacon. Additional toppings include lettuce, tomato, and onions.",
    "rating" : 7,
    "veggie" : false,
    "image" : "image url",
    "meat" : [{
      "grassfed" : true,
      "kobe" : false,
      "bison" : false,
      "angus" : false,
      "turkey" : false,
      "lamb" : false,
      "elk" : true
    }]
  }]
} -->
