<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
  </head>
  <body>

    {{#if user}}
      Welcome, {{user.username}}!
    {{else}}
      Hey! You should <a href="/user/login">Login</a> or <a href="/user/register">Register</a>
    {{/if}}

    <hr>

    {{{body}}}
  </body>
</html>
