<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <!-- semantic-ui -->
    <script src="/semantic.min.js"></script>
  </head>
  <body>

    <!-- {{#if user}}
      Welcome, {{user.username}}!
    {{else}}
      Hey! You should <a id="login-link" href="#">Login</a> or <a href="#" id="register-link">Register</a> -
    {{/if}} -->
    <a href="/">Return Home</a>
    <hr>

    {{{body}}}


    <script type="text/javascript" src="/javascripts/models/locationModel.js"></script>
    <script type="text/javascript" src="/javascripts/models/searchModel.js"></script>
    <script type="text/javascript" src="/javascripts/models/userModel.js"></script>
    <script type="text/javascript" src="/javascripts/collections/locationCollection.js"></script>
    <script type="text/javascript" src="/javascripts/collections/searchCollection.js"></script>
    <script type="text/javascript" src="/javascripts/collections/userCollection.js"></script>
    <script type="text/javascript" src="/javascripts/views/locationView.js"></script>
    <script type="text/javascript" src="/javascripts/views/searchView.js"></script>
    <script type="text/javascript" src="/javascripts/views/userView.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
