<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script scr="/javascript/jquery.js"></script>
    <script scr="/javascript/underscore.js"></script>
    <script scr="/javascript/backbone.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
